
\.idea/

BudgetMaster\.Api/obj/

BudgetMaster\.Blazor/bin/

BudgetMaster\.Blazor/obj/

BudgetMaster\.BlazorServer/BudgetMaster\.BlazorServer\.App/bin/

BudgetMaster\.BlazorServer/BudgetMaster\.BlazorServer\.App/obj/

BudgetMaster\.BlazorServer/BudgetMaster\.BlazorServer\.Server/obj/

BudgetMaster\.Core/obj/

BudgetMaster\.Data/obj/

BudgetMaster\.Domain/obj/

BudgetMaster\.Logic/obj/
/.vs
