@page "/callback"
@using BudgetMaster.Blazor.Abstractions
@using Microsoft.AspNetCore.Blazor.Services

@inject IUriHelper UriHelper
@inject IAuthenticationService authSvc

<h2>Logging In</h2>

@functions {

    
    protected override async Task OnInitAsync()
    {
        Console.WriteLine("Capturing login data.------------------------->>>>>>>>>>>>>");
        authSvc.HandelAuthentication();
        UriHelper.NavigateTo("/");
    }

}