@using BudgetMaster.Blazor.Abstractions
@inherits BlazorLayoutComponent

@inject IAuthenticationService authSvc

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a> | 
        @if (!isLoggedIn)
        {
            <button onclick="@Login">Login</button>
        }
        else
        {
            <h3>@authSvc.CurrentUser.UserName</h3>
        }
        
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions
{
    private bool isLoggedIn => authSvc.CurrentUser != null && !string.IsNullOrEmpty(authSvc.CurrentUser.UserName);

    private void Login()
    {
        authSvc.Authenticate();
    }

}
